.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-image: linear-gradient(#5DC3FC, #4FFF8B);
  /*background-image: linear-gradient(#FF00E5, #F2FF5B); */
  height: 100vh;
}

.translation {
  background-image: linear-gradient(#FF00E5, #F2FF5B);
}

.lolxd {
  font-size: 8cm;
  background: -webkit-linear-gradient(#850077, #41da05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.emptySpace {
  width: 80px;
  display: inline-block
}